<div class ="aboutus-section">
<h2>About Us</h2>
<p>Welcome to Angular!</p>

   <p> This tutorial introduces you to the essentials of Angular by walking you through building an e-commerce site with a catalog, shopping cart, and check-out form.
    
    To help you get started right away, this tutorial uses a ready-made application that you can examine and modify interactively on StackBlitz—without having to set up a local work environment. StackBlitz is a browser-based development environment where you can create, save, and share projects using a variety of technologies.</p>

    <h2>Who we are</h2>
<p>Progressive Web Apps
    Use modern web platform capabilities to deliver app-like experiences. High performance, offline, and zero-step installation.</p>

    <h2>Our Team</h2>
<p></p>
</div>