<div class="center">
  <label>API Call Data</label><br/><br/><br/>
  <div style="text-align: center;">
    <table class="table" width="800px;" border="1">
      <tr>
        <th width="10%">Id</th>
        <th width="20%">User Id</th>
        <th width="70%">Title</th>
      </tr>
      <tr>
        <td>{{id}}</td>
        <td>{{user_id}}</td>
        <td>{{title}}</td>
      </tr>
      <tr>
        <td>{{id1}}</td>
        <td>{{user_id1}}</td>
        <td>{{title1}}</td>
      </tr>
      <tr>
        <td>{{id2}}</td>
        <td>{{user_id2}}</td>
        <td>{{title2}}</td>
      </tr>
      <tr>
        <td>{{id3}}</td>
        <td>{{user_id3}}</td>
        <td>{{title3}}</td>
      </tr>
      <tr>
        <td>{{id4}}</td>
        <td>{{user_id4}}</td>
        <td>{{title4}}</td>
      </tr>
      <tr>
        <td>{{id5}}</td>
        <td>{{user_id5}}</td>
        <td>{{title5}}</td>
      </tr>
      <tr>
        <td>{{id6}}</td>
        <td>{{user_id6}}</td>
        <td>{{title6}}</td>
      </tr>
      <tr>
        <td>{{id7}}</td>
        <td>{{user_id7}}</td>
        <td>{{title7}}</td>
      </tr>
    </table>
  </div>
</div>