:host{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

label{
    color: brown;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

table{
    text-align: left;
    /*border: 1px solid black;;*/
}

.center{
    align-items: center;
}

th{
    color: blue;
    font-size: 22px;
    font-weight: bold;
    padding-left: 10px; 
}

td{
    font-size: 18px;
    padding-left: 10px;
}