<section class="slider">
    <ul>
      <li>
        <figure> 
          <img src="assets/images/banner_angular.jpg" alt="Banner Image">
        </figure>
      </li>
    </ul>		
  </section>
  <!--About us section-->
  <section class="our-services-section clearfix">
    <div class="container">
      <header>
            <h2>Latest Angular Version</h2>
            <p>This tutorial introduces you to the essentials of Angular by walking you through building an e-commerce site with a catalog, shopping cart, and check-out form.</p>
      </header>
      <ul class="clearfix">
            <li class="wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="300ms">
                <div class="service-box">
                 <h3>Node Js</h3>
                 <figure class="image-outer"><img src="assets/images/nodejs.jpg" alt="sample image"></figure>
                 <p>As an asynchronous event-driven JavaScript runtime, Node.js is designed to build scalable network applications. In the following "hello world" example, many connections can be handled concurrently. Upon each connection, the callback is fired, but if there is no work to be done, Node.js will sleep.</p>
                 <a href="#" class="btn">Read More</a> </div>
            </li>
            <li class="wow fadeInDown" data-wow-duration="2000ms" data-wow-delay="600ms">
                    <div class="service-box">
                    <h3>TypeScript</h3>
                    <figure class="image-outer"><img src="assets/images/Typescript_logo.png" alt="sample image"></figure>
                    <p>TypeScript adds additional syntax to JavaScript to support a tighter integration with your editor. Catch errors early in your editor.</p>
                    <a href="#" class="btn">Read More</a> </div>
            </li>
            <li class="wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="900ms">
                     <div class="service-box">
                     <h3>VS Code</h3>
                     <figure class="image-outer"><img src="assets/images/vs code.png" alt="sample image"></figure>
                     <p>Visual Studio Code is a lightweight but powerful source code editor which runs on your desktop and is available for Windows, macOS and Linux. It comes with built-in support for JavaScript, TypeScript and Node.js and has a rich ecosystem of extensions for other languages (such as C++, C#, Java, Python, PHP, Go) and runtimes (such as .NET and Unity). Begin your journey with VS Code with these introductory videos.

                    </p>
                     <a href="#" class="btn">Read More</a> </div>
            </li>
        </ul>
    </div>
  </section>